.container{
    display:flex;
    
    height:500px;
    width:800px;
    border:1px solid black;
    background-color: aqua;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    
    
    
    
}
.item{
    border:1px solid black;
    height:100px;
    width:100px;
    
    background-color: rgb(36, 200, 56);
    text-align: center;
    flex-grow: 1;

   
}
.item1{
    align-self: start;
}