.container{
    display:flex;
    
    height:500px;
    width:800px;
    border:1px solid black;
    background-color: aqua;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-areas: "header header";
    
    
    
}
.item{ 
    border:1px solid black;
    height:100px;
    width:100px;
    align-content: center;
    background-color: rgb(36, 200, 56);
    text-align: center;
    flex-grow: 1;

   
}
